<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401792487794-vlgnunsvnbd3f26uvlbilu0eoujs1mmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401792487794-vlgnunsvnbd3f26uvlbilu0eoujs1mmd</string>
	<key>API_KEY</key>
	<string>AIzaSyCkABPu3_-DpzteQABDiFS9xqIn5niJG5I</string>
	<key>GCM_SENDER_ID</key>
	<string>401792487794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhishekgokavarapu.abhishekgokavarapudevelopertest</string>
	<key>PROJECT_ID</key>
	<string>abhishekgdevtest</string>
	<key>STORAGE_BUCKET</key>
	<string>abhishekgdevtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401792487794:ios:93013d4305c8661f98cdeb</string>
</dict>
</plist>